<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= product.title %>
      <%= product.description %>
      <%= product.price %>
      <%= product.stock_quantity %>
    </li>
  <% end %>
</ul>
